@CHARSET "UTF-8";
.addlist_button a span{
    background-color:#00CED1!important;
}
.addlist_button a{
    background-color:#00CED1!important;
}
.btn-search{
    background-color:#008080!important;
    border-color:#008080!important;
}
.bot_line th{
    border-top-color:#00CED1!important;
}
.list-page a.cur{
    background-color:#00CED1!important;
}
.addlist_button a{
    background-color:#00CED1!important;
}
.list-page li:hover{
    border-color:#00CED1!important;

}
.list-page li:hover a{
    background:#00CED1!important;
}
.list-page a.cur{
    background-color:#00CED1!important;
}
.list-page li:hover{
    border-color:#00CED1!important;
}
.addlist_button2 a span{
    background-color:#00CED1!important;
}
.addlist_button2 a:hover span{
    background-color:#008080!important;
}
.addlist_button2 a{
    background-color:#00CED1!important;
}
.addlist_button2 a span:hover{
    background-color:#008080!important;
}
.btn-search{
    background-color:#00CED1!important;
}
.btn-search:hover{
    background-color:#008080!important;
}
.btn-info{
    background-color:#00CED1!important;
    border-color:#00CED1!important;
}
.btn-search{
    background-color:#00CED1!important;
    border-color:#00CED1!important;
}
.btn-info{
    background-color:#00CED1!important;
    border-color:#00CED1!important;
}
.addlist_button2 a{
    background-color:#00CED1!important;
}
.addlist_button2 a:hover{
    background-color:#008080!important;
}