@charset "utf-8";
/* CSS Document */

.top{ width:100%; height:60px; margin:0px auto;}
.topbg{ width:100%; height:60px; margin:0px auto; background:#50b3ee}

.logo{ height:60px; line-height:60px;color:#FFFFFF; font-size:20px; float:left;text-align:center;background:#213047;width:250px}
.top_right{ float:right; height:60px;width:calc(100% - 250px);}
.welcome{ float:left; padding-left:10px; line-height:60px;   font-size:12px;   color:#FFFFFF;  }
.logo_sec{ width:334px;  height:33px; float:left} 
 
/*头部图标*/
#taskbar_right {float: right; width:auto; text-align:right; height:60px;background:#74c2f2;position:relative}
#taskbar_right:before {
    content: "";
    position: absolute;
    top: 0;
	left: -50px;
	border-left: 50px solid transparent;
	border-top: 60px solid #74c2f2;
}
#taskbar_right a{display: inline-block;width:auto;height:60px;padding-top:15px; float:left; font-size:16px;color:#fff;text-align:center; padding-left:10px; padding-right:10px}
#taskbar_right a:hover{background:#50b3ee;}
#taskbar_right a span{display:block;font-size:12px}
#taskbar_right #person_info { background: url(../images/desktop_icons.png) no-repeat -2px -3px; }
#taskbar_right #person_info:hover {background-position: -2px -38px;}

#taskbar_right #role { background: url(../images/desktop_icons.png) no-repeat -212px -3px; }
#taskbar_right #role:hover {background-position: -212px -38px;}

#taskbar_right #person_info2 {background: url(../images/desktop_icons.png) no-repeat -253px -3px; }
#taskbar_right #person_info2:hover {background-position: -253px -38px} 

#taskbar_right #shortcut {background: url(../images/desktop_icons.png) no-repeat -42px -3px;}
#taskbar_right #shortcut:hover {background-position: -42px -38px}

#taskbar_right #logout {background: url(../images/desktop_icons.png) no-repeat -293px -3px;}
#taskbar_right #logout:hover {background-position: -293px -38px}

#taskbar_right #menuset {background: url(../images/desktop_icons.png) no-repeat -332px -3px;}
#taskbar_right #menuset:hover {background-position: -332px -38px}

#taskbar_right #layoutset {background: url(../images/desktop_icons.png) no-repeat -373px -3px;}
#taskbar_right #layoutset:hover {background-position: -373px -38px}
 
 /*隐藏、展开头部图标*/
#menubar_right{float: right;  width:30px;  height:33px;  }
#menubar_right a{display:inline-block; margin-right:10px; width: 30px;height: 30px; float:left; }
#menubar_right #hide_topbar {background: url(../images/desktop_icons.png) no-repeat -117px 0px;  }
#menubar_right #hide_topbar:hover {background-position: -117px -36px} 
#menubar_right .up#hide_topbar{background: url(../images/desktop_icons.png) no-repeat -144px 0px;}
#menubar_right .up#hide_topbar:hover{background: url(../images/desktop_icons.png) no-repeat -144px -36px;}

/*切换用户01*/
#site-nav {COLOR: #444444; position: relative; /*width:40px;*/   float:left;margin-left:4px} 
.photo{position:relative; }
#site-nav .switch-bd {display: none; z-index: 10001; width:160px;  min-height:110px; height:auto;position:absolute; background-color:#50b3ee;top:60px; right:1px; padding-bottom:5px}
.switch_arrow{ width:15px; height:5px; position:absolute; top:-5px; right:10px; /*background:url(../images/switch.png) no-repeat -10px -42px;*/}
#site-nav .switch {position: relative; float:left}
#site-nav .switch:hover .switch-bd {display: block}
#site-nav .hover .switch-bd {display: block} 
.switch-bd ul { float:left}
.switch-bd ul li{ height:36px; line-height:36px; float:left; width:160px;padding:0 15px; font-size:12px; text-align:left; cursor:pointer;color:#fff;} 
.switch-bd ul li:hover{ background-color:#46a4db}
.switch-bd span{ width:16px; height:16px; display:block; background:url(../images/switch.png) no-repeat -85px -6px; float:right; margin-top:9px}

/* ================== */
 
 
/*菜单超出宽度显示箭头*/  
#tabs_portal_0{float:left}
#taskbar{height: 40px;  background:#fafafa!important; position:relative; overflow:hidden;border-top:1px solid #ccc;border-bottom:2px solid #374b63;  }  
 #taskbar_center{float: left;}
#taskbar_center #tabs_left_scroll{width: 18px; display: none; float: left; height: 37px; cursor: pointer; margin-top:0px; margin-right:5px}
#taskbar_center #tabs_right_scroll{width: 18px; display: none; float: left; height: 37px; cursor: pointer; margin-top:0px; margin-left:5px} 
#taskbar_center #tabs_left_scroll{background:url(../images/tabs_arrow.png) no-repeat -4px center;}
#taskbar_center #tabs_left_scroll.active{background:url(../images/tabs_arrow.png) no-repeat -64px center;}
#taskbar_center #tabs_right_scroll{background:url(../images/tabs_arrow.png) no-repeat -36px center;}
#taskbar_center #tabs_right_scroll.active{background:url(../images/tabs_arrow.png) no-repeat -94px center;} 
#taskbar_center #tabs_container{  white-space: nowrap; float: left;overflow: hidden; border-left:1px solid #ccc } 


/*06菜单超出宽度显示箭头*/ 
#taskbar #taskbar_center #tabs_container DIV{display:inline-block; _display:inline; *display:inline; 
line-height:37px; border-right: 1px solid #ccc;}
#taskbar #taskbar_center #tabs_container DIV A.tab{MIN-WIDTH: 64px !important; TEXT-ALIGN: center;color:#7f8993; LINE-HEIGHT: 37px; PADDING-LEFT: 15px; WIDTH: auto !important; PADDING-RIGHT: 15px; DISPLAY: inline-block; TEXT-DECORATION: none; }

#taskbar #taskbar_center #tabs_container DIV A.close{WIDTH: 16px; DISPLAY: none; MARGIN-BOTTOM: -2px !important; HEIGHT: 16px}
#taskbar #taskbar_center #tabs_container DIV A.close:hover{CURSOR: pointer}
#taskbar #taskbar_center #tabs_container DIV.selected A.tab{COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold}
#taskbar #taskbar_center #tabs_container div.selected{background:#374b63;}
#taskbar #taskbar_center #tabs_container div.selected a.tab{}
#taskbar #taskbar_center #tabs_container DIV.selected A.close{DISPLAY: inline-block;float:none;opacity:100;background:url(../images/tabs_close.png) -46px 1px no-repeat;}
#taskbar #taskbar_center #tabs_container div a.close{background:url(../images/tabs_close.png) -31px 1px no-repeat; margin-left:-8px;margin-right:5px;DISPLAY: inline-block;float:none;opacity:100}

/* Main operating areas */
#myiframes{width:100%!important;}
#center { padding-top:0;width:100%!important;height:100%;overflow:hidden;position:relative;}
#center .tabs-panel{ width:100%; height:100%; display:none;}
#center .selected{ display:block;}
#center .tabs-panel iframe{ width:100%;  height:100%;}
.skin-part{padding-top:20px;}
/* ================== */
/*main01横排导航*/
#menu {background:#e2e6ec; height:36px; width:100%;  margin:0 auto; position:relative}
ul#nav{padding-left:10px; padding-top:2px;height:34px;white-space:nowrap;}
#nav li{ height:34px; line-height:34px; display:inline-block; *display:inline;zoom:1 }
#nav li.line{ width:2px; display:inline-block;*display:inline;zoom:1; background:url(../images/index_11.gif)  no-repeat center; margin-left:5px; margin-right:5px}
#nav li a{float:left;display:block;padding-left:12px; height:34px;cursor:pointer;text-decoration:none;  }
#nav li a span{ padding-right:12px; height:34px; line-height:34px;display:inline-block;}
#nav li a:hover{ background:url(../images/switch.png) no-repeat 0 -123px; color:#FFFFFF} 
#nav li a:hover span{ background:url(../images/switch.png) no-repeat right -155px} 
#nav li.current a{float:left;display:block;padding-left:10px; height:34px;cursor:pointer;text-decoration:none;background:url(../images/switch.png) no-repeat 0 -123px; color:#FFFFFF  }
#nav li.current a span{ padding-right:10px; height:34px; width:auto; line-height:34px;display:inline-block;background:url(../images/switch.png) no-repeat right -155px}

/*main03横排导航带二竖列级菜单 */
#nav05 {margin:2px auto 0px; display:block; float:left; padding-left:15px} 
#nav05 .mainlevel {   display:inline-block; *display:inline;zoom:1; }
#nav05 .mainlevel a {color:#000; text-decoration:none; line-height:34px; display:block; padding:0 20px;  text-align:center}
#nav05 .mainlevel a.hover{color:#fff; text-decoration:none; background:#535665 ;border-top-left-radius:5px;border-top-right-radius:5px;}
#nav05 .mainlevel a:hover {color:#fff; text-decoration:none; background:#494b56 ;border-top-left-radius:5px;border-top-right-radius:5px;}
#nav05 .mainlevel ul {display:none; position:absolute; }
#nav05 .mainlevel li {  background:#3a3c48;  border-bottom:1px dotted #6f7079 }  
#nav05 .line{width:2px; height:34px; background: url(../images/index_11.gif) no-repeat center; float:left}  
#nav05 .mainlevel li a{color:#c4dcee;}

/*main04点击展开二级菜单可滚动*/  
 .top-nav{width:100%;margin:0 auto;position:relative; background-color:#E2E6EC; height:36px; }
.top-nav .navlist-wrap{width:100%;margin:0 auto;position:relative; height:36px; overflow:hidden}
.top-nav .navlist{ position:relative;left:0PX;top:0PX; padding:2px 0px 0px; font-size:14px; height:34px}
.top-nav .navlist .nav-btn{display:inline-block; color:#25282d;vertical-align:middle;text-decoration:none; height:34px; line-height:30px; position:relative}
.top-nav .navlist .nav-btn span{ padding-left:10px; padding-right:25px; margin-left:10px;height:34px ;display: inline-block  } 
.navlist .nav-btn div{background:url(../images/broswer_home.png) no-repeat -29px -145px; width:16px;height:16px;margin-left:4px;vertical-align:middle;*height:12px;*vertical-align:middle;*cursor:pointer;*letter-spacing:0;*margin-left:0;*background-position:-26px -145px; position:absolute;top:10px; right:5px    }
.navlist .btn-active{  background:url(../images/switch.png) no-repeat 0 -123px; display: inline-block } 
.navlist .btn-active span{padding-right:25px; background:url(../images/switch.png) no-repeat right -155px; color:#FFFFFF; height:34px ;display: inline-block  } 
.navlist .btn-active div{background:url(../images/broswer_home.png) no-repeat -8px -145px;right:5px;  }

.top-nav .expand{display:none;  background-color:#3a3c48;overflow:hidden; position:absolute;width:100%; top:36px; z-index:1; }
.expand .close-btn{ background:url(../images/broswer_home.png) no-repeat -9px -115px; cursor: pointer; height: 16px;
margin-right: 10px; position: absolute; right: 0; top: 5px;width: 16px;}
.expand .close-btn:hover{background: url(../images/broswer_home.png) no-repeat -30px -115px;}
.expand .download{width:800%;min-height:30px; height:auto; _height:30px;float:left;}
.expand .download .item{float:left;width:12.5%}
.expand .download .item-active{display:block}  
.download .download-list{padding-top:5px; padding-right:25px; padding-bottom: 5px}
.download .download-list .btn{display:inline-block;text-decoration:none;
color:#b1b3c2;font-size:12px;line-height:16px;margin:0 10px;cursor:pointer}
.download .download-list .btn:hover{color:#e0e2f1}
.download-list .btn .icon{background-repeat:no-repeat;background-image:url(../images/broswer_home.png);height:16px;width:16px;float:left}
.download-list .btn .text{float:left;padding:0px 0px 0px 5px}
.download-list .zj .icon{background-position:-11px -6px}
.download .download-list .zj:hover .icon{background-position:-11px -27px}
.download .download-list .sjgj .icon{background-position:-30px -6px}
.download .download-list .sjgj:hover .icon{background-position:-30px -27px}
.download-list .wdj .icon{background-position:-50px -6px}
.download-list .wdj:hover .icon{background-position:-50px -27px}
.download-list .jy .icon{background-position:-74px -6px}
.download-list .jy:hover .icon{background-position:-74px -27px}
.download-list .apple .icon{background-position:-117px -6px;}
.download-list .apple:hover .icon{background-position:-117px -27px}
.download-list .itools .icon{background-position:-97px -6px}
.download-list .itools:hover .icon{background-position:-97px -27px}


/*main03横排导航带三级竖列级菜单 */ 
.menu08 { height:34px; line-height:34px; padding:2px 10px 0px  }
.menu08 li { display:inline-block; *display:inline;zoom:1;   }
.menu08 li a:hover { color:#fff; text-decoration:none; background:#494b56; border-top-left-radius:5px;border-top-right-radius:5px; }
.menu08 li.focusa { color:#fff; text-decoration:none; background:#494b56; border-top-left-radius:5px;border-top-right-radius:5px;}
.menu08 li.focusa  a{ color:#fff; }
.menu08 li a { display:block; float:left; height:34px; line-height:34px; padding:0 20px; }
.menu08 li ul { position:absolute; background:#3a3c48; width:150px; display:none;  }
.menu08 li ul a {color:#fff; width:110px; border-bottom:1px dotted #6f7079} 
.one {top:36px; }
.one li a:hover { color:#fff; background:#494b56;  }
.menu08 li ul.two { left:150px; }
.one li a.more { background:url(../images/there.png) no-repeat 130px center; }
.one li a.more:hover { background:url(../images/there.png) no-repeat 130px center; }
 .one li, .two li{ float:left}
 
 /*菜单超出宽度显示箭头原框架代码
#taskbar{height: 36px;  background-color:#e2e6ec; position:relative; overflow:hidden} 
#taskbar_center{float: left; }
#taskbar_center #tabs_left_scroll{width: 26px; display: none; float: left; height: 30px; cursor: pointer; margin-top:3px}
#taskbar_center #tabs_right_scroll{width: 26px; display: none; float: right; height: 30px; cursor: pointer; margin-top:3px} 
#taskbar_center #tabs_left_scroll{background:url(../images/tabs_arrow.png) no-repeat 0px center;}
#taskbar_center #tabs_left_scroll.active{background:url(../images/tabs_arrow.png) no-repeat -60px center;}
#taskbar_center #tabs_right_scroll{background:url(../images/tabs_arrow.png) no-repeat -30px center;}
#taskbar_center #tabs_right_scroll.active{background:url(../images/tabs_arrow.png) no-repeat -90px center;} 
#taskbar_center #tabs_container{width: 100%; white-space: nowrap; float: left; height: 36px; overflow:hidden  }
*/  
 
 /*06菜单超出宽度显示箭头
#taskbar #taskbar_center #tabs_container DIV{display:inline-block; _display:inline; *display:inline; margin-right: 3px;margin-left: 3px;margin-TOP: 2px;  padding-right:5px; height:34px; line-height:34px; white-space: nowrap; }
#taskbar #taskbar_center #tabs_container DIV A.tab{MIN-WIDTH: 64px !important; TEXT-ALIGN: center; LINE-HEIGHT: 34px; PADDING-LEFT: 10px; WIDTH: auto !important; PADDING-RIGHT: 3px; DISPLAY: inline-block; HEIGHT: 34px; TEXT-DECORATION: none; }

#taskbar #taskbar_center #tabs_container DIV A.close{WIDTH: 16px; DISPLAY: none; MARGIN-BOTTOM: -2px !important; HEIGHT: 16px}
#taskbar #taskbar_center #tabs_container DIV A.close:hover{BACKGROUND-POSITION: -16px center; CURSOR: pointer}
#taskbar #taskbar_center #tabs_container DIV.selected A.tab{COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold}
#taskbar #taskbar_center #tabs_container div.selected{background:url(../images/switch.png) no-repeat right -155px;
border-top-left-radius: 10px; 
-moz-border-top-left-radius: 10px;  
-webkit-border-top-left-radius: 10px}
#taskbar #taskbar_center #tabs_container div.selected a.tab{background:url(../images/switch.png) no-repeat 0 -123px;}
#taskbar #taskbar_center #tabs_container DIV.selected A.close{DISPLAY: inline-block}
#taskbar #taskbar_center #tabs_container div a.close{background:url(../images/tabs_close.png) 0px center no-repeat;*background:url(../images/tabs_close6.png) 0px center no-repeat; /*ie6*/}
*/ 
 
